<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"
>
  <head>
    <title data-th-text="${loggedInUser.name}+' |  ADD'">Profile Page</title>
  </head>
  <body>
    <div class="container" id="content">
      <!-- sidebar -->
      <div class="h-full pt-16 px-3 py-4 overflow-y-auto">
          <div th:if="${loggedInUser}">
              <div data-th-replace="~{user/sidebar :: sidebar}"></div>
          </div>
      </div>

      <main class="flex-1 ml-64 p-4">
          <div class="max-w-md mx-auto bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg">
              <h2 class="text-2xl font-semibold mb-4 text-gray-900 dark:text-white">Add Contact Details</h2>
              
<form class="max-w-sm mx-auto">

  <label for="name-icon" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact Name</label>
  <div class="relative">
    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
      <i class="fa fa-address-book" aria-hidden="true"></i>
    </div>
    <input type="text" id="name-icon" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name">
  </div>

  <label for="email-address-icon" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact Email</label>
  <div class="relative">
    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
      <i class="fa fa-envelope" aria-hidden="true"></i>
    </div>
    <input type="text" id="email-address-icon" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@flowbite.com">
  </div>

  <label for="phone-icon" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact Phone Number</label>
  <div class="relative">
    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
      <i class="fa-solid  fa-phone" aria-hidden="true"></i>
    </div>
    <input type="text" id="phone-icon" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="+91 89872872">
  </div>

  <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your message</label>
  <textarea id="message" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Leave a comment..."></textarea>
</form>

          </div>
      </main>
  </div>

      



      

    <script>
      console.log("this is profile page");
    </script>
  </body>
</html>